body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.2
    color: rgb(0,0,0);
    list-style: none;
}

.h2 {
    font-size: 16px;
    line-height: 2;

}
.link {
    text-decoration: none;
    color:black; 
 }
  
 /* ul {
    list-style-type: none;
  } */


  .button:hover ,
  .button:focus {
    color:  red ;
  }

  .contact .link:focus
  .contact .link:hover {
    color: green;
  }
