
:root {
  --color-purple: #806080;
  --color-white: #fff;
 }
 .myClass {
   color: var(--color-purple);
 }

body {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  list-style-type: none;
}


.h2 {
  font-size: 1rem;
  line-height: 2;
}
.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link:hover,
.link:focus {
  color: rgb(0,0,255);
}

ul{
  list-style-type: none;
}

.button {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: rgb(251, 4, 4);
}

/* .link:focus ,
  .link:hover {
    color: rgb(25, 192, 50);
  }
*/
.contact {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: rgb(4, 251, 74);
}
